.header {
    padding-top: rem(75);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: rem(159);
        height: rem(53);
        z-index: 11;
    }

    &__menu {
        display: flex;
        gap: rem(35);
    }
}

.menu {
    &__link {
        font-weight: 600;
        line-height: 1.3;
        color: #fff;
    }
}