@import 'mixin';

.hero {
    @include backgroundProps(no-repeat, center center, cover);
    background-blend-mode: overlay;
    background-color: rgba(35, 82, 222, 0.5);

    &__inner {
        padding-bottom: rem(30);
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
    }
    &__title {
        font-weight: 400;
        font-size: rem(48);
        line-height: 1.3;
        color: #fff;
        margin: auto 0;
    }
    &__subtitle {
        font-weight: 700;
        font-size: rem(90);
    }

    &__link {
        padding-bottom: rem(30);
        display: inline-block;
        position: relative;
        font-weight: 600;
        line-height: 1.3;
        color: #fff;
        margin: 0 auto;
        &::after {
            position: absolute;
            content: '';
            left: 0;
            right: 0;
            top: rem(32);
            margin: 0 auto;
            width: rem(37);
            height: rem(22);
            background-image: url('../images/hero/Vector.svg');
            @include backgroundProps(no-repeat, center center, cover)
        }
    }
}

